.footer {
    margin: 50px;
}

.hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.portfolio {
    height: 365px;
    width: 365px;
}

.wrapper .text {
    position: relative;
    bottom: 80px;
    left: 0px;
    color: white;
    visibility: hidden;
}

.black {
    color: black;
}

.wrapper:hover .text {
    visibility: visible;
}
